body::-webkit-scrollbar {
    display: none;
}

.middle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.console {
    width: 90%;
    margin: 0 auto;
}

.console-output {
    display: flex;
    flex-direction: column-reverse;
    color: lightgray;
    background-color: #3c3f41;
    border-radius: 10px;
    overflow: auto;
    height: 65vh;
}

.console-output > p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.page {
    display: none;
}

.page.show {
    display: block;
}

/* Editing for Materialize elements */

.input-field input:focus + label {
    color: #9e9e9e !important;
}

.input-field input:focus {
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: 0 1px 0 0 #9e9e9e !important
}

input {
    color: #e0e0e0 !important;
}

.btn, .btn-small, .btn-large {
    background-color: #7289DA !important;
}

ul.sidenav > li > a {
    color: white;
}

ul.sidenav > li > a > i.material-icons {
    color: white;
}

nav > div > a.brand-logo {
    margin-left: 20px;
}

div > span > i.material-icons {
    color: #99AAB5;
}

.collapsible-header, .collapsible-body, .collapsible, ul.collapsible > li {
    border-color: #616161; !important;
}




