<div class="page" id="console">

    <div class="console section white-text">
        <h5 id="consoleServerName">Konsole</h5>

        <div class="console-output">
            <p id="serverConsole"></p>
        </div>
        <div class="input-field">
            <input id="commandInput" type="text">
            <label for="commandInput">Sende einen Befehl</label>
        </div>
    </div>

</div>