<div id="home" class="page">

    <div class="row">
        <div class="center-vertical">
            <div class="col s4">
                <div class="hoverable card grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">Spieler online<i class="material-icons right">people</i></span>
                        <p id="onlineCount">Aktuell verbundene Spieler: 0</p>
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="hoverable card grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">Server online<i class="material-icons right">storage</i></span>
                        <p id="serverCount">Aktuell verbundene Server: 0</p>
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="hoverable card grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">Proxies online<i class="material-icons right">public</i></span>
                        <p id="proxyCount">Aktuell verbundene Proxies: 0</p>
                    </div>
                </div>
            </div>


            <div class="col s4">
                <div class="hoverable card grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">Wrapper online<i class="material-icons right">library_books</i></span>
                        <p id="wrapperCount">Aktuell verbundene Wrapper: 0</p>
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="hoverable card grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">RAM-Verbrauch<i class="material-icons right">memory</i></span>
                        <p id="memory">RAM-Verbrauch: 0/-1 MB RAM</p>
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="hoverable card grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">CPU-Nutzung<i class="material-icons right">data_usage</i></span>
                        <p id="cpuUsage">Durchschnittliche CPU-Nutzung: 0%</p>
                    </div>
                </div>
            </div>


            <div class="col s12">
                <div class="hoverable card grey darken-3">
                    <div id="statistics-1" class="card-content white-text">
                        <span class="card-title">Cloud-Statistiken<i class="material-icons right">call_made</i></span>
                        <div class="row">
                            <p id="registeredPlayers" class="col s6">Registrierte Spieler: 0</p>
                            <p id="cloudStartup" class="col s6">Cloud-Starts: 0</p>
                            <p id="playerLogin" class="col s6">Spieler-Verbindungen: 0</p>
                            <p id="startedServers" class="col s6">Server gestartet: 0</p>
                            <p id="highestPlayerOnline" class="col s6">Spieler maximal online: 0</p>
                            <p id="startedProxys" class="col s6">Proxys gestartet: 0</p>
                            <p id="playerCommandExecutions" class="col s6">Befehle von Spielern ausgefürt: 0</p>
                            <p id="highestServerOnlineCount" class="col s6">Server maximal online: 0</p>
                            <p id="wrapperConnections" class="col s6">Wrapper-Verbindungen: 0</p>
                            <p id="cloudOnlineTime" class="col s6">Cloud-Onlinezeit: 0 Stunden</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


